* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(../assets/bg-4x.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

.start-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;
}

.start-container button {
  font-family: inherit;
  cursor: pointer;
  padding: 1.3rem 5.35rem;
  background: #4D5B9E;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 30px;
}

.start-container button:focus {
  outline: none;
}

.start-container button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.start-container button:hover {
  background-color: #293264;
  transition: 0.25s ease-in-out;
}

.start-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 7px;
}

.start-container p {
  font-size: 1rem;
}